<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/landing.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <button><a href="/login">Login</a></button>
            </li>
            <li>
                <button><a href="/verify">Verify</a></button>
            </li>
        </ul>
    </nav>

    <div class="hero-section">
    </div>

    <div class="features">
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="title">Fast Verification</div>
            <div class="description">
                Vehicle can be verified in a very short period of time which allows us to verify lots of vehicles in a short period of time.
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-eye"></i> 
            </div>
            <div class="title">OCR Based</div>
            <div class="description">
                Just click a picture of vehicle number plate and thats all you need to do to verify a vehicle.
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-money-bill-1-wave"></i>
            </div>
            <div class="title">Cost Effective</div>
            <div class="description">
                This app costs you 0$ forever. Its free lifetime you just need your own infrastructure to host this app on.
            </div>
        </div>
    </div>



    <script src="https://kit.fontawesome.com/23ec01dfad.js" crossorigin="anonymous"></script>
</body>
</html>