<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/table.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <title>Vehicle List</title>
</head>
<body>

    
    <div class="container">

        <div class="sidebar">

            <div class="hero"></div>

            <nav>
                <ul>
                    <li>
                        <a href="/dashboard"><span class="icon"><i class="fa-solid fa-chart-simple"></i></span> Dashboard</a>
                    </li>
                    <li>
                        <a href="/vehicle_list"><span class="icon"><i class="fa-solid fa-list"></i></span>Vehicle List</a>
                    </li>
                    <li>
                        <a href="/add_vehicles"><span class="icon"><i class="fa-solid fa-car"></i></span>Add Vehicles</a>
                    </li>
                </ul>

                <a href="/logout"><span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>Logout</a>
            </nav>
        </div>

        <div class="main">

            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">S.NO</div>
                    <div class="col col-2">VEHICLE NUMBER</div>
                    <div class="col col-3">OWNER NAME</div>
                    <div class="col col-4">IS ACTIVE</div>
                    <div class="col col-5">ACTION</div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="S.NO"># 01</div>
                    <div class="col col-2" data-label="VEHICLE NUMBER">JK014423</div>
                    <div class="col col-3" data-label="OWNER NAME">SHOAIB WANI</div>
                    <div class="col col-4" data-label="IS ACTIVE">ACTIVE</div>
                    <div class="col col-5" data-label="ACTION">delete</div>
                </li> 
                <li class="table-row">
                    <div class="col col-1" data-label="S.NO"># 01</div>
                    <div class="col col-2" data-label="VEHICLE NUMBER">JK014423</div>
                    <div class="col col-3" data-label="OWNER NAME">SHOAIB WANI</div>
                    <div class="col col-4" data-label="IS ACTIVE">ACTIVE</div>
                    <div class="col col-5" data-label="ACTION">delete</div>
                </li> 
                <li class="table-row">
                    <div class="col col-1" data-label="S.NO"># 01</div>
                    <div class="col col-2" data-label="VEHICLE NUMBER">JK014423</div>
                    <div class="col col-3" data-label="OWNER NAME">SHOAIB WANI</div>
                    <div class="col col-4" data-label="IS ACTIVE">ACTIVE</div>
                    <div class="col col-5" data-label="ACTION">delete</div>
                </li> 
            </ul>
        </div>
        </div>

    <script src="https://kit.fontawesome.com/23ec01dfad.js" crossorigin="anonymous"></script>
</body>
</html>